<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="delegation">
            <h2><span>Delegation</span> {{ delegation.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ delegation.name }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ delegation.description }}</span>
                </dd>
                <dt><span>Start Date</span></dt>
                <dd>
                    <span>{{ delegation.startDate }}</span>
                </dd>
                <dt><span>End Date</span></dt>
                <dd>
                    <span>{{ delegation.endDate }}</span>
                </dd>
                <dt><span>Agenda</span></dt>
                <dd>
                    <div *ngIf="delegation.agenda">
                        <a (click)="openFile(delegation?.agendaContentType!, delegation?.agenda)">open</a>
                        {{ delegation.agendaContentType }}, {{ byteSize(delegation.agenda) }}
                    </div>
                </dd>
                <dt><span>Location</span></dt>
                <dd>
                    <div *ngIf="delegation.locationId">
                        <a [routerLink]="['/location', delegation.locationId, 'view']">{{ delegation.locationName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/delegation', delegation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
